<h2>Registeration Form</h2>
<form class ="center"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
     <input
      type="text"  
      placeholder="Enter your name"
       formControlName="name" 
       [ngClass]="{'is-invalid': submitted && f.name.errors}">
       <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors?.required">
            Name is required
        </div>
       </div>
       <br><br>

     <input 
     type="email"  
     placeholder="Enter your email" 
     formControlName="email" 
     [ngClass]="{'is-invalid': submitted && f.email.errors}">
       <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors?.required">
            Email is required
        </div>
       </div>
       <br><br>
     <input 
     type="password"  
     placeholder="Enter your password" 
     formControlName="password" 
     [ngClass]="{'is-invalid': submitted && f.password.errors}">
       <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors?.required">
            Password is required
        </div>
       </div>
     <br><br>
     <input 
     type="text"  
     placeholder="Enter your age" 
     formControlName="age" 
     [ngClass]="{'is-invalid': submitted && f.age.errors}">
       <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
        <div *ngIf="f.age.errors?.required">
            Age is required
        </div>
       </div>
       <br><br>
    Choose Role:
     <select 
     type="text"
     formControlName="role"
     [ngClass]="{'is-invalid': submitted && f.role.errors}">
       <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <div *ngIf="f.role.errors?.required">
            Role is required
        </div>
       </div>
        <option value="user">User</option>
            <option value="system">System</option>
             <option value="admin">Admin</option>
      </select><br><br>
      <button class ="button">Submit</button>
</form>

<p>
  Today's item: {{item}}
</p>

<label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button type="button" (click)="addNewItem(newItem.value)">Add to parent's list</button>
